<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>NASI-BOSS 管理面板</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <style>
        body {
            margin-top: 70px;
        }

        .navbar {
            border: none;
        }

        .navbar-inverse .navbar-nav > li > a {
            color: #ffffff;
        }
    </style>
</head>
<body>
<div class="col-md-12">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">BOSS 管理面板</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">主页</a>
                </li>
                <li role="presentation" style="pointer-events: none;">
                    <a class="bg-primary" href="#"><span style="margin-right: 5px;">付费/总数 :&nbsp;</span><span
                            class="badge" th:text="__${paidUsersCount}__+' / '+__${totalUsersCount}__"></span></a></li>
                </li>
            </ul>

            <div class="navbar-form navbar-left">
                <a class="btn btn-danger" href="/logout"><span class="glyphicon glyphicon-log-out"></span> 注销</a>
            </div>
        </div><!-- /.navbar-collapse -->
    </nav>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-success addUser"><span class="glyphicon glyphicon-plus"></span> 新增用户</button>
            <a class="btn btn-primary refresh" href="/updateQrCode"><span class="glyphicon glyphicon-refresh"></span>
                重建QrCode</a>
            <a class="btn btn-primary refresh" href="/cleanNetworks"><span class="glyphicon glyphicon-trash"></span>
                清空流量</a>
            <a class="btn btn-danger refresh disabled" href="/reCreateAllContainers"><span class="glyphicon glyphicon-retweet"></span> 重建所有容器</a>
        </div>
        <div class="col-md-6">
            <form class="form-inline" method="get" action="/refreshNetwork">
                <div class="form-group">
                    <select id="instanceLocation" name="instanceLocation" class="form-control">
                        <option value="all" selected="selected">--- 选择服务区 ---</option>
                        <option th:each="key,it:${locations.keySet()}" th:value="${key}">
                            <span th:text="${key}"></span>
                            <span th:text="' ('+${locations.get(key)}+')'"></span>
                        </option>
                    </select>
                    <button class="btn btn-primary refresh">
                        <span class="glyphicon glyphicon-refresh"></span>
                        <span>刷新流量</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="card">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>No.</th>
                <th>微信账号</th>
                <th>昵称</th>
                <th>服务区</th>
                <th>结束日期</th>
                <th>付款状态</th>
                <th>自主控制</th>
                <th>使用流量</th>
                <th>用户操作</th>
                <th>服务器操作</th>
                <th>运行端口</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,it:${users.content}">
                <td th:text="${user.id}"></td>
                <td>
                    <div th:if="${!#strings.isEmpty(user.icon)}" th:utext="${user.icon}" th:remove="tag">
                    </div>
                    <a th:href="'/user/findUserByWechatName?wechatName='+${user.wechatName}"
                       th:text="${user.wechatName}"></a>
                </td>
                <td th:text="${user.nickname}"></td>
                <td th:text="${user.containerLocation}"></td>
                <td th:text="${#dates.format(user.endTime, 'yyyy-MM-dd')}"></td>
                <td th:utext="${user.isEnable}?'<span class=\'label label-success btn-xs\'>已付款</span>':'<span class=\'label label-danger btn-xs\'>未付款</span>'"></td>
                <td th:utext="${user.isEnableSelfControl()}?'<span class=\'label label-primary btn-xs\'>自主控制</span>':'<span class=\'label label-warning btn-xs\'>未达到要求</span>'"></td>
                <td>
                    <th:block th:if="${user.getNetworkRx()+user.getNetworkTx()<1000}">
                        <span id="networkTraffic" class="form-control-static"
                              th:text="${#numbers.formatDecimal(user.getNetworkRx()+user.getNetworkTx(), 1, 2)}"></span><span> MB</span>
                    </th:block>
                    <th:block th:if="${user.getNetworkRx()+user.getNetworkTx()>=1000}">
                        <span id="networkTraffic" class="form-control-static"
                              th:text="${#numbers.formatDecimal((user.getNetworkRx()+user.getNetworkTx())/1000, 1, 2)}"></span><span> GB</span>
                    </th:block>
                </td>
                <td>
                    <button th:attr="data-id=${user.id}" class="btn btn-primary btn-xs editBtn"><span
                            class="glyphicon glyphicon-pencil"></span> 编辑
                    </button>
                    <a data-loading-text="<i class='fa fa-spinner fa-spin'></i> 请等待 ..."
                       th:href="'/delete?id='+${user.id}+'&role=admin'" class="btn btn-danger btn-xs"><span
                            class="glyphicon glyphicon-trash"></span> 删除</a>
                </td>

                <td>
                    <div class="btn-group">
                        <button class="btn btn-xs dropdown-toggle"
                                type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"
                                th:classappend="${user.containerStatus=='running'}?'label-success':'label-danger'"
                        >
                            <span style="color:white;" th:if="${user.containerStatus=='running'}">正在运行</span>
                            <span style="color:white;" th:if="${user.containerStatus=='created'}">等待</span>
                            <span style="color:white;" th:if="${user.containerStatus=='exited'}">停止</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a data-loading-text="<i class='fa fa-spinner fa-spin'></i> 请等待 ..."
                                   th:if="${user.containerStatus=='exited'}"
                                   th:href="'/startContainer?id='+${user.containerId}+'&location='+${user.containerLocation}+'&role=admin&page='+${currentPage}"
                                ><span class="glyphicon glyphicon-play"></span> 启动</a>
                            </li>
                            <li>
                                <a data-loading-text="<i class='fa fa-spinner fa-spin'></i> 请等待 ..."
                                   th:if="${user.containerStatus=='created'}"
                                   th:href="'/startContainer?id='+${user.containerId}+'&location='+${user.containerLocation}+'&role=admin&page='+${currentPage}"
                                ><span class="glyphicon glyphicon-play"></span>
                                    开始服务</a>
                            </li>
                            <li>
                                <a data-loading-text="<i class='fa fa-spinner fa-spin'></i> 请等待 ..."
                                   th:if="${user.containerStatus=='running'}"
                                   th:href="'/stopContainer?id='+${user.containerId}+'&location='+${user.containerLocation}+'&role=admin&page='+${currentPage}"
                                ><span class="glyphicon glyphicon-off"></span> 停止</a>
                            </li>
                            <li>
                                <a data-loading-text="<i class='fa fa-spinner fa-spin'></i> 请等待 ..."
                                   th:if="${user.containerStatus=='running'}"
                                   th:href="'/restartContainer?id='+${user.containerId}+'&location='+${user.containerLocation}+'&role=admin&page='+${currentPage}"
                                ><span class="glyphicon glyphicon-refresh"></span>
                                    重启</a>
                            </li>
                            <li>
                                <a data-loading-text="<i class='fa fa-spinner fa-spin'></i> 请等待 ..."
                                   th:if="${!#strings.isEmpty(user.containerId)}"
                                   th:href="'/deleteContainer?id='+${user.containerId}+'&location='+${user.containerLocation}+'&role=admin&page='+${currentPage}"
                                ><span class="glyphicon glyphicon-trash"></span>
                                    清空容器</a>
                            </li>
                            <li>
                                <a data-loading-text="<i class='fa fa-spinner fa-spin'></i> 请等待 ..."
                                   th:if="${!#strings.isEmpty(user.containerId)}"
                                   th:href="'/reCreateContainer?id='+${user.containerId}+'&location='+${user.containerLocation}+'&role=admin&page='+${currentPage}"
                                ><span class="glyphicon glyphicon-random"></span>
                                    重建二维码</a>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <span th:text="${user.containerPort}"></span>
                </td>
            </tr>
            </tbody>

        </table>
        <hr>
        <nav aria-label="Page navigation">
            <ul th:if="${users.getTotalPages()!=0}" class="pagination">
                <li><a href="#" aria-label="Previous"> <span aria-hidden="true">«</span> </a></li>

                <li th:classappend="(${currentPage}==${i})?'active':''"
                    th:each="i:${#numbers.sequence(0,users.getTotalPages()-1)}">
                    <a th:href="@{/admin(page=${i})}" th:text="${i}+1">1</a>
                </li>

                <li><a href="#" aria-label="Next"> <span aria-hidden="true">»</span> </a></li>
            </ul>
        </nav>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <form th:action="@{/save}" method="post" th:object="${user}">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">新用户/修改</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" id="id" name="id">
                        <input type="hidden" id="qrCode" name="qrCode">
                        <input type="hidden" id="containerId" name="containerId">
                        <input type="hidden" id="containerPort" name="containerPort">
                        <input type="hidden" id="containerStatus" name="containerStatus">
                        <input type="hidden" id="networkTx" name="networkTx">
                        <input type="hidden" id="networkRx" name="networkRx">
                        <div class="form-group">
                            <label for="wechatName">微信账号</label>
                            <input autocomplete="off" type="text" id="wechatName" name="wechatName"
                                   class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="nickname">昵称</label>
                            <input autocomplete="off" type="text" id="nickname" name="nickname" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="containerLocation">服务区</label>
                            <select id="containerLocation" name="containerLocation" class="form-control" required>
                                <option value="" selected="selected">--- 选择服务区 ---</option>
                                <option th:each="key,it:${locations.keySet()}" th:value="${key}">
                                    <span th:text="${key}"></span>
                                    <span th:text="' ('+${locations.get(key)}+')'"></span>
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="pontLocation">中转服务</label>
                            <select id="pontLocation" name="pontLocation" class="form-control">
                                <option value="non" selected="selected">--- Non ---</option>
                                <option th:each="key,it:${locations.keySet()}" th:value="${key}">
                                    <span th:text="${key}"></span>
                                    <span th:text="' ('+${locations.get(key)}+')'"></span>
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="startTime">开始日期</label>
                            <input autocomplete="off" type="text" id="startTime" name="startTime"
                                   class="form-control date">
                        </div>
                        <div class="form-group">
                            <label for="endTime">结束日期</label>
                            <input autocomplete="off" type="text" id="endTime" name="endTime" class="form-control date">
                        </div>
                        <div class="form-group">
                            <label for="isEnableOui">是否付款</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="isEnable" id="isEnableOui" value="true">
                                    是
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="isEnable" id="isEnableNon" value="false">否
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="enableSelfControlOui">自主控制</label>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="enableSelfControl" id="enableSelfControlOui" value="true">
                                    是
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="enableSelfControl" id="enableSelfControlNon"
                                           value="false">否
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="icon">超级图标</label>
                            <input autocomplete="off" value='<span class="label label-primary">iOS</span>'
                                   type="text" id="icon" name="icon" class="form-control">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <input class="btn btn-primary" type="submit" value="保存"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment-with-locales.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<script src="/js/app.js"></script>
<script>
    $(document).ready(function () {
        $('.date').datetimepicker({
            format: 'YYYY-MM-DD'
        });
    });
</script>
</body>
</html>
