<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>出错啦</title>
    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div class="container">
    <h3 th:text="${status}+' '+${error}">出错了</h3>

    <div class="alert alert-danger" role="alert">
        非常抱歉，没有找到您要查看的页面
        <p th:text="${#dates.format(timestamp,'yyyy-MM-dd HH:mm:ss')}"></p>
    </div>
    <a href="/" class="btn btn-warning"><span class="glyphicon glyphicon-share-alt"></span> 返回</a>

</div>
</body>
</html>