<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>雷恩小伙伴科学上网 - RENNES</title>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div class="container">
    <h3>用户自助信息查询</h3>
    <hr>
    <div class="alert alert-info" role="alert">
        欢迎推荐微信名片，推荐新朋友赠送使用时长 :)
    </div>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation"><a href="/">信息查询</a></li>
            <li role="presentation" class="active"><a href="/help">使用帮助</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="help">
                <h3>iPhone</h3>
                <p>登陆国外苹果商店并下载 <strong>Potatso Lite</strong></p>
                <p>如果没有国外苹果商店的id，可以找管理员支付 <b>1 RMB</b> 来领取临时账号使用</p>
                <img class="img-responsive img-thumbnail"
                     src="https://i.loli.net/2018/09/05/5b8ee8df3226d.jpg"/>
                <p>安装好软件后，点击打开会出现如下界面</p>
                <img class="img-responsive img-thumbnail"
                     src="https://i.loli.net/2018/09/05/5b8eec7846b20.jpg"/>
                <p>选择扫描二维码，方便导入专用服务器</p>
                <p>个人二维码查询地址: <a href="/">点这里</a></p>
                <p>输入个人微信账号，查询信息如下</p>
                <img src="https://i.loli.net/2018/09/05/5b8eed08a5263.jpg"
                     class="img-responsive img-thumbnail" alt="">
                <p>扫描二维码，专用服务器添加在指定位置，选取智能路由，并开始</p>
                <img class="img-responsive img-thumbnail"
                     src="https://i.loli.net/2018/09/05/5b8eee70d5fc8.jpg"/>
                <p>现在您可以畅快的上网了</p>
                <hr>
                <h4>安卓手机(不提供技术支持，类比iPhone设置)</h4>
                <p>
                    <span>点击下载 <a href="http://us.qfdk.me/ShadowsocksR.apk">ShadowsocksR.apk</a> ，并扫描查询到的二维码</span>
                </p>

                <h4>MacOS(不提供技术支持，类比iPhone设置)</h4>
                <p>
                    <span>点击下载  <a class="md_compiled"
                                   href="http://us.qfdk.me/ShadowsocksX-NG.dmg">ShadowsocksX-NG.dmg</a>,复制到application 文件夹下，并扫描查询到的二维码</span>
                </p>
                <h4>Windows(不提供技术支持，类比iPhone设置)</h4>
                <p>
                    <span class="md_line md_line_start md_line_end">点击下载  <a class="md_compiled"
                                                                             href="http://us.qfdk.me/ShadowsocksR.7z">ShadowsocksR.7z</a> 并解压缩，扫描二维码</span>
                </p>
            </div>
        </div>
    </div>

</div>

</body>
</html>