<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>小伙伴科学上网 - LE MONDE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">    -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div class="container">
    <h3>信息自主查询</h3>
    <hr>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="/">信息查询</a></li>
            <li role="presentation"><a href="/help">使用帮助</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <br>
                <form action="/user/findUserByWechatName" method="get">
                    <div class="input-group col-md-6 col-md-offset-3">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input autocomplete="off" name="wechatName" type="text" class="form-control" placeholder="微信用户名"
                               aria-describedby="basic-addon1">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary"> 查询
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: 10px;">
        <!-- Default panel contents -->
        <div class="panel-heading">区域延时测试</div>

        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>location</th>
                <th>往返延时</th>
            </tr>
            </thead>
            <tbody id="tbody">
            <tr th:attr="data-index=${it.index}" th:each="location,it:${locationMap}">
                <td th:text="${location.key}">location</td>
                <td th:id="${location.key}" th:attr="data-ip=${location.value},data-location=${location.key}">- ms</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/alfg/ping.js@0.2.2/dist/ping.min.js" type="text/javascript"></script>

<script>
    /**
     * 交换位置
     * @param arr
     * @param k
     * @param j
     */
    function change(arr, k, j) {
        var tmp = arr[k];
        arr[k] = arr[j];
        $('tr[data-index=' + k + ']').html(`<td>` + arr[j].location + `</td><td>` + arr[j].latence + ` ms</td>`);
        arr[j] = tmp;
        $('tr[data-index=' + j + ']').html(`<td>` + tmp.location + `</td><td>` + tmp.latence + ` ms</td>`);
    }

    $(document).ready(function () {
        var p = new Ping();
        var $ips = $('td[data-ip]');
        var array = [];
        $.each($ips, function (index, ele) {
            var locationServer = $(ele).attr('data-location');
            var ip = $(ele).attr('data-ip');
            var tmp = {};
            tmp['location'] = locationServer;
            tmp['latence'] = 999;
            array.push(tmp);
            p.ping('http://' + ip + ':8762', function (err, data) {
                if (err) {
                    tmp['latence'] = 9999;
                    $("td[data-ip='" + ip + "']").text('服务器可能被墙');
                } else {
                    tmp['latence'] = data;
                    for (let i = 0; i < array.length; i++) {
                        var pos= 0; //每趟开始时,无记录交换
                        for (let j = i; j < array.length; j++) {
                            if (array[i].latence >= array[j].latence) {
                                change(array, i, j);
                                pos= j; //记录交换的位置
                            }
                        }
                    }
                }
            });
        });
    });

</script>
</body>
</html>