<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>小伙伴科学上网 - LE MONDE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"/>
    <!--<link href="https://cdn.bootcss.com/twitter-bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">    -->
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body onload="main()">
<div class="container">
    <h3>信息自主查询</h3>
    <hr>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist" id="myTabs">
            <li role="presentation" class="active"><a href="/">信息查询</a></li>
            <li role="presentation"><a href="/help">使用帮助</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <br>
                <form action="/user/findUserByWechatName" method="get">
                    <div class="input-group col-md-6 col-md-offset-3">
                        <span class="input-group-addon" id="basic-addon1">@</span>
                        <input autocomplete="off" name="wechatName" type="text" class="form-control" placeholder="微信用户名"
                               aria-describedby="basic-addon1">
                        <div class="input-group-btn">
                            <button type="submit" class="btn btn-primary"> 查询
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default" style="margin-top: 10px;">
        <!-- Default panel contents -->
        <div class="panel-heading">
            <span><b>自动选取最快区域</b></span>
        </div>
        <div id="result">
        </div>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/react.production.min.js"></script>
<script src="/js/react-dom.production.min.js"></script>
<!--<script src="/js/react.development.js"></script>-->
<!--<script src="/js/react-dom.development.js"></script>-->
<!--<script src="/js/babel.min.js"></script>-->
<script type="text/javascript" th:inline="javascript">
    data = {
        "server":/*[[${listServer}]]*/ []
    }
</script>
<!--<script type="text/babel" src="/js/msmbps.development.js"></script>-->
<script src="/js/msmbps.production.js"></script>

</body>
</html>