<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <title>后台登录</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
<div class="container">

    <div th:if="${param.error}" class="alert alert-danger alert-dismissible col-md-6 col-md-offset-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>妈呀！</strong> 用户名或密码错误
    </div>

    <div th:if="${param.logout}" class="alert alert-success alert-dismissible col-md-6 col-md-offset-3" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <strong>不错！</strong> 您已成功注销
    </div>

    <form th:action="@{/login}" method="POST" class="form-signin">
        <h2 class="form-signin-heading">后台管理登录</h2>
        <label for="username" class="control-label">用户名</label>
        <input type="text" name="username" id="username" class="form-control" value="admin">
        <label for="password" class="control-label">密码</label>
        <input type="password" name="password" id="password" class="form-control">
        <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
</div>
<script src="//cdn.jsdelivr.net/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>
</html>